<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>百分比圆.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60407EB81E4D9F59007E13D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60407ED11E4D9F59007E13D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60407EDC1E4D9F59007E13D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
